<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Employee Management System</h1>
		<hr>
		<h2>Update Employee</h2>

		<form action="#" th:action="@{/saveEmployee}" th:object="${employee}"
			method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{firstName}" placeholder="Employee First Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{lastName}" placeholder="Employee Last Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{email}" placeholder="Employee EMail" class="form-control mb-4 col-4">

			<div>
				<label for="employee-birth-date">Employee date of birth:</label>
				<input type="date" th:field="${employee.birthdate}" id="employee-birth-date"/>
			</div>

			<p>Select employee type:</p>
			<select name="EmployeeTypes" id="EmployeeTypes" class="form-control mb-4 col-4" th:field="*{employeeTypes}">
				<option th:each="employeeType : ${listEmployeeTypes}"
						th:value="${employeeType.id}"
						th:text="${employeeType.type}">
				</option>
			</select>

			<p>Select department:</p>
			<select name="EmployeesDepartments" id="EmployeesDepartments" class="form-control mb-4 col-4" th:field="*{department}">
				<option th:each="department : ${departments}"
						th:value="${department.id}"
						th:text="${department.departmentName}">
				</option>
			</select>

			<p>Select working position:</p>
			<select name="EmployeesWorkingPositions" id="EmployeesWorkingPositions" class="form-control mb-4 col-4" th:field="*{workingPosition}">
				<option th:each="position : ${workingPositions}"
						th:value="${position.id}"
						th:text="${position.positionName}">
				</option>
			</select>

			<p>Select line manager email:</p>
			<select name="EmployeesLineManagerEmail" id="EmployeesLineManagerEmail" class="form-control mb-4 col-4" th:field="*{lineManagerEmail}">
				<option th:each="employee : ${listEmployees}"
						th:value="${employee.email}"
						th:text="${employee.firstName} + ' ' + ${employee.lastName} + '(' + ${employee.email} + ')'">
				</option>
			</select>

			<p>Select employment contract:</p>
			<select name="EmploymentContract" id="EmploymentContract" class="form-control mb-4 col-4" th:field="*{EmploymentContract}">
				<option th:each="employemntContract : ${listEmploymentContracts}"
						th:value="${employemntContract.id}"
						th:text="${employemntContract.employmentContractName}">
				</option>
			</select>


			<div>
				<label for="employee-contract-start-date">Select employment contract start date:</label>
				<input type="date" th:field="${employee.employmentContractStart}" id="employee-contract-start-date"/>
			</div>

			<div>
				<label for="employee-contract-end-date">Select employment contract end date:</label>
				<input type="date" th:field="${employee.employmentContractEnd}" id="employee-contract-end-date"/>
			</div>

			<p>Employee address information</p>

			<p>Enter employee country:</p>
			<input type="text" th:field="*{address.country}"
				   placeholder="Employee Country" class="form-control mb-4 col-4">

			<p>Enter employee district:</p>
			<input type="text" th:field="*{address.district}"
				   placeholder="Employee District" class="form-control mb-4 col-4">

			<p>Enter employee street:</p>
			<input type="text" th:field="*{address.street}"
				   placeholder="Employee Street" class="form-control mb-4 col-4">

			<p>Enter employee apartment number:</p>
			<input type="text" th:field="*{address.apartmentNumber}"
				   placeholder="Employee Apartment Number" class="form-control mb-4 col-4">

			<p>Employee passport information</p>

			<p>Enter employee passport series:</p>
			<input type="text" th:field="*{passport.series}"
				   placeholder="Passport Series" class="form-control mb-4 col-4">

			<p>Enter employee passport number:</p>
			<input type="text" th:field="*{passport.number}"
				   placeholder="Passport Number" class="form-control mb-4 col-4">

			<div>
				<label for="employee-passport-issue-date">Select passport issue date:</label>
				<input type="date" th:field="${employee.passport.issueDate}" id="employee-passport-issue-date"/>
			</div>

			<p>Enter employee passport issue place:</p>
			<input type="text" th:field="*{passport.issuePlace}"
				   placeholder="Passport Issue Place" class="form-control mb-4 col-4">

			<p>Enter employee passport registration place:</p>
			<input type="text" th:field="*{passport.registrationPlace}"
				   placeholder="Employee Registration Place" class="form-control mb-4 col-4">

			<p>Select employee marital status:</p>
			<select name="EmployeeMaritalStatus" id="EmployeeMaritalStatus" class="form-control mb-4 col-4" th:field="*{maritalStatus}">
				<option th:each="maritalStatus : ${listMaritalStatus}"
						th:value="${maritalStatus.id}"
						th:text="${maritalStatus.status}">
				</option>
			</select>

				<button type="submit" class="btn btn-info col-2"> Update Employee</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Employee List</a>
	</div>
</body>
</html>